
.listContainer {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.listContainer td, .listContainer th {
  border: 1px solid #ddd;
  padding: 8px;
}

.listContainer tr:nth-child(even){background-color: #f2f2f2;}

.listContainer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.listContainer .custom-select {
  background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}


.shipmentDetailView label {
  display: inline-flex;
  width: 40%
}

.shipmentDetailView ul {
  display: inline-block;
  font-family: initial;
  font-size: 15px;

}

.shipmentDetailView form {
  font-size: 18px;
  font-family: fantasy;
  color: #3a3e3f;
}
.shipmentDetailView form .custome-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10%;
  margin-top: 1%;
}


.listContainer form .custome-button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1%;
  margin-top: 1%;
}